body{
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-segundária);
}

.email__conteiner {
    position: relative;
}
input[type="email"]:invalid + .mensagem__erro {
    display: block;
}   
.mensagem__erro{
    display: none;
    color: red;
    font-size: 12px;
    position: absolute;
    bottom: -20px;
    left: 0;
}
input[type="email"] {
    margin-bottom: 25px; /* Espaço para a mensagem */
  }

.upload-identidade {
    width: 16cm;
    height: 5cm;
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
  }

  .upload-identidade img {
    width: 100px; /* Reduza a largura do ícone */
    height: 100px; /* Reduza a altura do ícone */
  }
